.calculator {
    box-sizing: border-box;
    width: 400px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, .2);
    background-color: #DDD;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.display {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.display p {
    margin-right: 5px;
    font-size: 2rem;
    font-weight: 500;
}

.buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button {
    height: 78px;
    text-align: center;
    border: 1px solid #DDD;
}

.button:hover {
    background-color: #BBB;
}

.number {
    background-color: #FFF;
}

.zero {
    grid-column-start: span 2;
}
.operation {
    background-color: #EEE;
    }